
body {
    margin: 0;

    font-family: 'Poiret One', cursive;
    line-height: 40px;
    color: white;
    text-align: center;

    overflow: hidden;
}

.listItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%; 
    height:100vh;

    scroll-snap-align: center;
}

.listItem:nth-child(2){
    background-color: #DAB88B;
}

.listItem:nth-child(3){
    background-color: #BFB5D7;
}

.listItem:nth-child(4){
    background-color: #FEDCCC;
}

.listItem:nth-child(5){
    background-color: #B7CADB;
}
#container{
    width:100%;
    height:100vh; 
    overflow: auto;

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;

    text-align: center;
    font-size: 20px;
    font-style: italic;

    position: fixed;
    background-color: rgba(200, 240, 240, 0.9);
} 

nav li {
    margin: 60px;
    display: inline;
}

nav a {
    color: black;
    text-decoration: none;

    transition-duration: 0.2s;
}

nav a:hover {
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.profile {
    padding: 0.5rem;

    border-radius: 30%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.profile img {
    border-radius: 30%;
}


.AboutContents{
    float: right;
    margin-left: 100px;
}



.GalleryItems{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    gap:50px;
}
.grid_item{
    border-radius: 45px;
    width: 200px;
    height: 200px;
}

.Contact{
    text-align: center;
}

.ContactLinkWrapper{
    display: flex;
    flex-direction: row;
}
.ContactLink{
    margin: 35px;

    color: white;
    font-size: 24px;
    font-style: italic;
    text-decoration: none;
}


footer{
    background-color: black;

    margin-top:auto ;
    width: 100%;
    height: 100px;
}
