<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML 공부</title>
</head>
<body>
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    <!-- <img src="/static/img/1.jpg" alt="리누스 토발즈">
     <span>span 태그1</span>
    <span>span 태그2</span>
    <div>안녕하세요</div>
    <div>두번째 영역입니다</div>
    <a href="https://www.google.com" target="_blank">Google Link</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptate velit asperiores tenetur consectetur. Quasi, necessitatibus asperiores? Dignissimos enim, soluta, consequatur commodi placeat amet possimus quae voluptates quos sint accusamus?</p>
    <ul>
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
        <li>list item4</li>
    </ul>

    <ol>
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
        <li>list item4</li>
    </ol>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, modi? Eius ut,
    <br />
        alias consequatur aliquam eveniet iure recusandae sunt? Dicta quae
    <br />
        voluptatibus ea, quas veritatis qui ab nihil nulla mollitia.
    </p>
    <form>
        <label class="label">아이디</label> <br />
        <input type="text" name="id" placeholder=" 아이디 입력하세요." /> <br />

        <label class="label">이름</label><br />
        <input type="text" name="name" placeholder=" 이름 입력하세요." /> <br />

        <label class="label">비밀번호</label> <br />
        <input
            type="password"
            name="password"
            placeholder=" 비밀번호 입력하세요"
        /><br />

        <label class="label">이메일</label> <br />
        <input type="text" name="email1" placeholder=" 이메일 입력하세요" />@
        <select name="email2">
            <option value="" disabled selected="selected">선택하세요</option>
            <option value="daum.net">daum.net</option>
            <option value="naver.com">naver.com</option>
            <option value="google.com">google.com</option>
            <option value="D">직접 입력</option></select
        ><br />

        <label class="label">생일</label><br />
        <input type="date" name="birth" /><br />

        <label class="label">자기소개</label><br />
        <textarea
            name="profile"
            cols="50"
            rows="5"
            placeholder=" 자기소개를 300자 이내로 작성하세요"
        ></textarea
        ><br />

        <input type="submit" />
    </form>

    <button type="button" onclick="alert('Hello World!')">클릭해 보세요!</button>
    <p>
       일반, <br/>
        <strong>볼드체</strong> <br/>
        <em>이텔릭체</em> <br/>
        <del>이러면 나무위키</del> <br/>
        <ins>밑줄</ins> <br/>
</p> -->
</body>
</html>