<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
    </style>
    <title>PortFolio</title>
</head>
<body>

    <div id="container">
        <nav >
            <ul>
                <li><a href = "#Home"><b>Home</b></a></li>
                <li><a href = "#About"><b>About</b></a></li>
                <li><a href = "#Gallery"><b>Gallery</b></a></li>
                <li><a href = "#Contact"><b>Contact</b></a></li>
            </ul>
        </nav>

        <div id="Home" class="listItem">
            <span class="profile"><img src="{% static 'img/main.jpg' %}" width="550px" height="550px" alt=""/></span> 
            <h3><strong>This Cat is so Cute</strong> <br>You can scroll down if you want to see me more!</h3>
        </div>

        <div id="About" class="listItem">
            <h1> About </h1>
            <div>
               <img class = "profile" src ="{% static 'img/2.jpg' %}" alt="" width="300px" height="300px">
                <div class="AboutContents">
                    <h2>
                        <strong>Lorem ipsum dolor sit amet <br>Lorem ipsum dolors</strong>
                    </h2>
                    <h3 > 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                        Repudiandae a tempora quis soluta, ratione architecto!<br>
                        Facere, possimus modi ducimus perspiciatis nostrum<br>
                        dolorum id voluptatum fuga totam sint harum. Quae, nemo!<br>
                        Repudiandae a tempora quis soluta, ratione architecto!<br>
                        Facere, possimus modi ducimus perspiciatis nostrum<br>
                        dolorum id voluptatum fuga totam sint harum. Quae, nemo!<br>
                    </h3>
                </div>
             </div>
        </div>
  
        <div id="Gallery" class="listItem">
            <h1> Gallery  </h1>
            <div>
                <div class="GalleryItems">
                    <img class = "grid_item" src="{% static 'img/3-1.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-2.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-3.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-4.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-1.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-2.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-3.jpg' %}" alt="">
                    <img class = "grid_item" src="{% static 'img/3-4.jpg' %}" alt="">
                </div>
            </div>
        </div>

        <div id="Contact" class="listItem">
            <h1> Contact </h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0xJxgvJO2Xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="ContactLinkWrapper">
                <a href="https://velog.io/@subtitle1" class="ContactLink">Blog</a>
                <a href="mailto:stella.kim.96211@gmail.com" class="ContactLink">Gmail</a>
                <a href="https://github.com/subtitle1" class="ContactLink">Github</a>
            </div>
            <div>
                This is my favorite Music.
            </div>
        </div>
        <footer>
            This site is a learning page through Django.
        </footer>
    <div>
</body>
</html>
