<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticker AI</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'stickerResult' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image"><br>
            <input type="submit" value="테스트 해보기 ">
        </form>
    </div>
</body>
</html>
<!-- 
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/sticker.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
    </style>
    <title>Sticker AI</title>
</head>
<body>
    <div class="container">
    <div class="title">Sticker Web</div>
    <img src="{% static 'img/king.png'%}" width="100px" alt="king">
        <br>    
        <br>    
        <br>    
        <form method="POST" action="{% url 'stickerResult' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="inputFileBtn" for="inputFile">Upload</label>
            <input class="inputFile" id="inputFile" type="file" name="image"><br><br>
            <input class="submitBtn" type="submit" value="Test ">
        </form>
    </div>
</body>
</html> -->
